<b> Analysis of Allegheny County employee salary data for 2018</b>

In [1]:
import pandas as pd

In [2]:
import matplotlib as mpl

In [3]:
import numpy as np

Let's see what the data looks like:

In [4]:
pd.read_csv("county_salaries_2018.csv")

,Name,Employment Status,Ethnic Code,Gender,Department,Job Title,Date Started,Cur Pos Date,Date Term.,Pay Status,...,Bonus $,Wellness Day,Cert Bonus,Contract Bonus,Hlth Waiver,Longevity,Wellnes Bonus,Weekend Bonus,Gross Pay,TOTAL
0,Catherine Abalo,Full-time Regular,Black,Female,Kane Regional Centers,Nursing Assistant,4/8/2010,4/3/2016,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$69,027.34","$68,453.92"
1,Joy M Abbott,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Cook,2/14/1999,2/14/1999,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$48,058.35","$47,188.74"
2,Kevin J Abbott,Part Time Regular,White (Not of Hispanic Origin),Male,Emergency Management,Fire Instructor - Part Time,6/11/2018,6/11/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$241.50,"$30,576.00"
3,Ryan Robert Abbott,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,8/21/2017,8/21/2017,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$44,542.97","$49,669.69"
4,Jerome J Abmayr,Full-time Regular,White (Not of Hispanic Origin),Male,Facilities Management,Foreman Building Maintenance,5/10/2010,12/30/2012,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$46,806.31","$42,032.80"
5,Jasmine Abram,Full-time Regular,Black,Female,Shuman Center,Childcare Worker,5/31/2016,5/31/2016,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$51,771.78","$51,721.04"
6,Gwendolyn S Abramovitz,Full-time Regular,Black,Female,Administrative Services,Manager Registration,12/31/2000,10/21/2012,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$46,865.44","$46,990.51"
7,Karen D Abrams,Terminated,Black,Female,Human Services,Child Welfare Aide,6/11/1990,6/11/1990,11/25/2018,Terminated,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$31,308.81","$39,272.06"
8,Anthony A Aches,Full-time Regular,White (Not of Hispanic Origin),Male,Police,Police Officer,7/25/1994,1/1/2017,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$120,916.71","$120,067.72"
9,Michael B Acheson,Full-time Regular,White (Not of Hispanic Origin),Male,Administrative Services,Support Specialist,8/22/2016,8/22/2016,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$9,585.32","$33,292.69"
10,Christian M Achilles,Terminated,White (Not of Hispanic Origin),Male,Parks,Seasonal Aide,7/5/2018,7/5/2018,9/4/2018,Terminated,...,$137.50,$0.00,$0.00,$137.50,$0.00,$0.00,$0.00,$0.00,"$3,300.00","$28,979.00"
11,Kiara N Aciescott,Full-time Regular,Black,Female,Kane Regional Centers,Food Service Worker,8/23/2015,8/23/2015,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$50,166.02","$48,823.90"
12,Jeremy G Acker,Full-time Regular,White (Not of Hispanic Origin),Male,Kane Regional Centers,Rn Resident Care Coordinator,9/22/2014,2/7/2016,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$91,389.73","$87,338.52"
13,Suzanne J Acrie,Full-time Regular,White (Not of Hispanic Origin),Female,Human Services,Clerk Typist 1,9/17/2018,9/17/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$8,291.27","$31,657.39"
14,Emily E Adamczyk,Terminated,White (Not of Hispanic Origin),Female,Parks,Seasonal Aide,11/15/2017,11/15/2017,3/20/2018,Terminated,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$344.00,"$19,968.00"
15,Mary E Adamczyk,Full-time Regular,White (Not of Hispanic Origin),Female,County Solicitor,Assistant County Solicitor,7/2/2001,1/29/2012,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$51,196.60","$51,196.08"
16,John V Adams Iii,Full-time Regular,White (Not of Hispanic Origin),Male,Parks,Acting Foreman,7/6/2015,11/13/2016,NaN,Active,...,$147.80,$147.80,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$47,130.39","$43,447.72"
17,Cynthia J Adams,Full-time Regular,Black,Female,District Attorney,Systems Manager,3/12/1979,3/12/1979,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$72,893.60","$72,892.35"
18,Joshua D Adams,Terminated,Black,Male,Facilities Management,Custodial Worker,12/23/2013,12/23/2013,11/23/2018,Terminated,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$35,170.74","$36,121.07"
19,Ty Adams,Intern,Black,Male,Human Services,Student Intern,5/14/2018,5/14/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$9,486.00","$24,960.00"
20,Jacqueline M Adamson,Full-time Regular,White (Not of Hispanic Origin),Female,Treasurer,Computer Operator,3/17/2008,7/13/2015,NaN,Active,...,$140.52,$140.52,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$41,254.52","$39,884.03"
21,Angelia G Adediran,Full-time Regular,Black,Female,Human Services,Dep Dir Office Of Admin,9/17/2018,9/17/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$30,961.68","$115,000.08"
22,Catherine Adekoya,Full-time Regular,Black,Female,Human Services,Adm Fiscal Integrated Systems,3/22/1993,6/14/2015,NaN,REDACTED,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$85,202.06","$85,203.04"
23,Joseph Adu-Marfo,Full-time Regular,Black,Male,Facilities Management,Stationary Engineer,5/19/2014,5/19/2014,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$50,148.89","$49,318.56"
24,Ethan E Affolder,Full-time Regular,White (Not of Hispanic Origin),Male,Parks,Facilities Manager,9/17/2017,9/17/2017,NaN,Active,...,$137.31,$137.31,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$35,699.87","$35,974.49"
25,Susan M Ahearn,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Nursing Assistant,1/14/1980,1/14/1980,NaN,Active,...,$575.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$450.00,"$52,968.06","$50,059.39"
26,Michael M Ahwesh,Full-time Regular,White (Not of Hispanic Origin),Male,District Attorney,Assistant District Attorney,2/21/2017,2/21/2017,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$19,575.48","$40,553.97"
27,Catherine H Aikens,Intern,White (Not of Hispanic Origin),Female,District Attorney,Legal Intern,10/15/2018,10/15/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$1,069.39","$15,080.00"
28,Amila Ajdinovic,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Food Service Worker,12/12/2016,12/12/2016,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$48,028.79","$46,771.30"
29,Hafeez A Ajenifuja,Full-time Regular,White (Not of Hispanic Origin),Male,Health,Air Quality Engineer,9/2/2008,1/1/2016,NaN,Active,...,$261.16,$261.16,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$67,901.60","$68,423.30"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6799,Craig H Zinsser,Full-time Regular,White (Not of Hispanic Origin),Male,Parks,Acting Foreman,9/1/1994,4/5/2015,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$51,768.07","$47,869.25"
6800,Earl J Zinsser,Full-time Regular,White (Not of Hispanic Origin),Male,Jail,Correctional Officer,6/8/1987,6/8/1987,NaN,REDACTED,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$79,603.58","$85,035.61"
6801,Daniel J Ziober,Full-time Regular,White (Not of Hispanic Origin),Male,District Attorney,Systems Technician,7/18/2011,9/25/2011,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$48,684.92","$48,684.69"
6802,Amie J Ziots,Full-time Regular,White (Not of Hispanic Origin),Female,Emergency Management,Telecommunication Officer,7/25/2016,7/25/2016,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$51,957.88","$51,305.88"
6803,Stephanie Zipay,Full-time Regular,Black,Female,Jail,Substance Abuse Counselor,8/26/2015,8/26/2015,NaN,Active,...,$500.00,$0.00,$0.00,$0.00,$0.00,$375.00,$125.00,$0.00,"$47,956.48","$48,200.78"
6804,Barbara A Zirngibl,Full-time Regular,White (Not of Hispanic Origin),Female,Health,Environmental Health Specialst,8/28/1989,8/28/1989,NaN,Active,...,$209.65,$209.65,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$56,375.40","$54,929.03"
6805,Virginia M. Zirpoli,Full-time Regular,White (Not of Hispanic Origin),Female,Administrative Services,Data Clerk,11/8/1999,4/15/2018,NaN,Active,...,$134.32,$134.32,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$34,609.21","$35,192.88"
6806,Mark A Zivkovich,Full-time Regular,White (Not of Hispanic Origin),Male,Human Services,Caseworker - Aging (Lng Step),7/17/1989,3/13/2011,NaN,Active,...,$244.25,$244.25,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$66,649.10","$64,152.66"
6807,Craig M Zmenkowski,Full-time Regular,White (Not of Hispanic Origin),Male,Facilities Management,Tuck Pointer,5/2/2016,5/2/2016,NaN,Active,...,$209.05,$209.05,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$58,248.46","$58,313.08"
6808,Trisha V Znosko,Part Time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Per Diem Nursing Assistant,8/27/2012,5/3/2015,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$720.00,"$29,120.00"
6809,Daniel T Zoldos,Full-time Regular,White (Not of Hispanic Origin),Male,Health,Laboratory Technician Off Step,10/3/2016,7/1/2018,NaN,Active,...,$123.11,$123.11,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$33,101.10","$32,347.47"
6810,Albert A Zoller,Full-time Regular,White (Not of Hispanic Origin),Male,Jail,Correctional Officer,6/8/1997,3/11/2012,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$117,813.68","$119,817.53"
6811,Kimberly A Zombeck,Full-time Regular,White (Not of Hispanic Origin),Female,Court Records,Assistant Division Manager,7/25/2011,6/25/2017,NaN,Active,...,$259.38,$259.38,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$67,438.80","$67,958.60"
6812,Maureen Zombeck,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Licensed Practical Nurse,12/10/2018,12/10/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$1,632.40","$42,443.44"
6813,Madison E Zombek,Terminated,White (Not of Hispanic Origin),Female,Parks,Seasonal Aide,4/17/2018,4/17/2018,9/4/2018,Terminated,...,$202.75,$0.00,$0.00,$202.75,$0.00,$0.00,$0.00,$0.00,"$4,866.00","$29,109.50"
6814,Sharon Zorich,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Food Service Worker,9/4/2018,9/4/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$1,697.62","$23,708.81"
6815,Alyssa M Zottola,Terminated,White (Not of Hispanic Origin),Female,District Attorney,Legal Intern,9/18/2017,9/18/2017,8/7/2018,Terminated,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$4,107.14","$7,540.00"
6816,David M Zottola,Full-time Regular,White (Not of Hispanic Origin),Male,Parks,Acting Foreman,8/16/1994,4/5/2015,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$45,348.80","$42,428.95"
6817,Matthew A Zottola,Full-time Regular,White (Not of Hispanic Origin),Male,Facilities Management,Tuck Pointer,5/5/2014,5/5/2014,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$59,174.58","$58,117.10"
6818,Phillip A. Zottola,Full-time Regular,White (Not of Hispanic Origin),Male,Treasurer,Re Tax System Application Sup,9/25/2000,4/9/2012,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$67,464.44","$67,539.68"
6819,Francis M Zovko,Terminated,White (Not of Hispanic Origin),Male,District Attorney,It Systems Supervisor,12/28/2015,12/28/2015,1/5/2018,Terminated,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$6,855.02","$63,654.03"
6820,David A. Zozom,Full-time Regular,White (Not of Hispanic Origin),Male,Parks,Laborer,6/23/2003,4/5/2015,NaN,Active,...,$150.76,$150.76,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$15,503.39","$39,498.70"
6821,Ryan T Zulka,Full-time Regular,White (Not of Hispanic Origin),Male,Facilities Management,Stationary Engineer,6/15/2015,6/15/2015,NaN,Active,...,$189.65,$189.65,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$55,180.61","$54,464.18"
6822,Stanley J Zunic,Full-time Regular,White (Not of Hispanic Origin),Male,Kane Regional Centers,Acting Compactor,2/7/2016,2/7/2016,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$31,145.05","$30,102.27"
6823,Albert Zupancic,Full-time Regular,White (Not of Hispanic Origin),Male,Public Works Operating,Regional Maintenance Sprv,8/21/2017,8/21/2017,NaN,Active,...,$213.69,$213.69,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$55,504.91","$55,987.72"
6824,Ilan Zur,Full-time Regular,White (Not of Hispanic Origin),Male,District Attorney,Deputy District Attorney,10/5/1998,5/20/2013,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$100,050.72","$100,050.70"
6825,Jeffrey M. Zurisko,Full-time Regular,White (Not of Hispanic Origin),Male,District Attorney,Attorney 4,11/20/2006,4/2/2018,NaN,Active,...,"$1,500.00",$0.00,$0.00,$0.00,"$1,500.00",$0.00,$0.00,$0.00,"$49,591.15","$50,841.92"
6826,Mary E Zusinas,Full-time Regular,White (Not of Hispanic Origin),Female,Public Works Operating,Administrative Assistant,5/20/2013,5/20/2013,NaN,Active,...,$123.75,$123.75,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$32,082.31","$32,422.60"
6827,Parker C Zvejnieks,Terminated,White (Not of Hispanic Origin),Male,Parks,Seasonal Aide,5/31/2018,5/31/2018,9/3/2018,Terminated,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$1,112.89","$18,096.00"
6828,Stephen Zvolensky,Full-time Regular,White (Not of Hispanic Origin),Male,Parks,Regional Park Maintenance Spv,5/13/1985,2/5/2017,NaN,Active,...,$208.16,$208.16,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$54,121.60","$54,537.92"

Setting a variable for our DataFrame:

In [5]:
countysal = pd.read_csv("county_salaries_2018.csv")

In [6]:
countysal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6829 entries, 0 to 6828
Data columns (total 24 columns):
Name                 6829 non-null object
Employment Status    6829 non-null object
Ethnic Code          6829 non-null object
Gender               6829 non-null object
Department           6829 non-null object
Job Title            6828 non-null object
Date Started         6829 non-null object
Cur Pos Date         6829 non-null object
Date Term.           1115 non-null object
Pay Status           6829 non-null object
Annual Salary        6829 non-null object
Overtime $           6829 non-null object
Overtime Hrs.        6829 non-null object
Overtime Rate        6829 non-null object
Bonus $              6829 non-null object
Wellness Day         6829 non-null object
Cert Bonus           6829 non-null object
Contract Bonus       6829 non-null object
Hlth Waiver          6829 non-null object
Longevity            6829 non-null object
Wellnes Bonus        6829 non-null object
Weekend Bonus        6829 non-null object
Gross Pay            6829 non-null object
TOTAL                6829 non-null object
dtypes: object(24)
memory usage: 1.3+ MB

Changing the column names so they are easier to work with:

In [7]:
countysal.rename(columns={'Name':'name'}, inplace=True)

In [8]:
countysal.rename(columns={'Employment Status':'status'}, inplace=True)
countysal.rename(columns={'Ethnic Code':'race'}, inplace=True)
countysal.rename(columns={'Gender':'sex'}, inplace=True)
countysal.rename(columns={'Department':'dept'}, inplace=True)
countysal.rename(columns={'Job Title':'job_title'}, inplace=True)
countysal.rename(columns={'Date Started':'date_started'}, inplace=True)
countysal.rename(columns={'Cur Pos Date':'current_position_start'}, inplace=True)
countysal.rename(columns={'Date Term.':'date_terminated'}, inplace=True)
countysal.rename(columns={'Pay Status':'pay_status'}, inplace=True)
countysal.rename(columns={'Annual Salary':'salary'}, inplace=True)
countysal.rename(columns={'Overtime $':'overtime'}, inplace=True)
countysal.rename(columns={'Overtime Hrs.':'overtime_hours'}, inplace=True)
countysal.rename(columns={'Overtime Rate':'overtime_rate'}, inplace=True)
countysal.rename(columns={'Bonus $':'bonus'}, inplace=True)
countysal.rename(columns={'Wellness Day':'wellness_day'}, inplace=True)
countysal.rename(columns={'Cert Bonus':'cert_bonus'}, inplace=True)
countysal.rename(columns={'Contract Bonus':'contract_bonus'}, inplace=True)
countysal.rename(columns={'Hlth Waiver':'health_waiver'}, inplace=True)
countysal.rename(columns={'Longevity':'longevity'}, inplace=True)
countysal.rename(columns={'Wellnes Bonus':'wellness_bonus'}, inplace=True)
countysal.rename(columns={'Weekend Bonus':'weekend_bonus'}, inplace=True)
countysal.rename(columns={'Gross Pay':'gross'}, inplace=True)
countysal.rename(columns={'TOTAL':'total'}, inplace=True)

What the DataFrame looks like now:

In [9]:
countysal.head()

,name,status,race,sex,dept,job_title,date_started,current_position_start,date_terminated,pay_status,...,bonus,wellness_day,cert_bonus,contract_bonus,health_waiver,longevity,wellness_bonus,weekend_bonus,gross,total
0,Catherine Abalo,Full-time Regular,Black,Female,Kane Regional Centers,Nursing Assistant,4/8/2010,4/3/2016,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$69,027.34","$68,453.92"
1,Joy M Abbott,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Cook,2/14/1999,2/14/1999,NaN,Active,...,$125.00,$0.00,$0.00,$0.00,$0.00,$0.00,$125.00,$0.00,"$48,058.35","$47,188.74"
2,Kevin J Abbott,Part Time Regular,White (Not of Hispanic Origin),Male,Emergency Management,Fire Instructor - Part Time,6/11/2018,6/11/2018,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$241.50,"$30,576.00"
3,Ryan Robert Abbott,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,8/21/2017,8/21/2017,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$44,542.97","$49,669.69"
4,Jerome J Abmayr,Full-time Regular,White (Not of Hispanic Origin),Male,Facilities Management,Foreman Building Maintenance,5/10/2010,12/30/2012,NaN,Active,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$46,806.31","$42,032.80"

In [10]:
countysal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6829 entries, 0 to 6828
Data columns (total 24 columns):
name                      6829 non-null object
status                    6829 non-null object
race                      6829 non-null object
sex                       6829 non-null object
dept                      6829 non-null object
job_title                 6828 non-null object
date_started              6829 non-null object
current_position_start    6829 non-null object
date_terminated           1115 non-null object
pay_status                6829 non-null object
salary                    6829 non-null object
overtime                  6829 non-null object
overtime_hours            6829 non-null object
overtime_rate             6829 non-null object
bonus                     6829 non-null object
wellness_day              6829 non-null object
cert_bonus                6829 non-null object
contract_bonus            6829 non-null object
health_waiver             6829 non-null object
longevity                 6829 non-null object
wellness_bonus            6829 non-null object
weekend_bonus             6829 non-null object
gross                     6829 non-null object
total                     6829 non-null object
dtypes: object(24)
memory usage: 1.3+ MB

In these next few steps, we strip the '$' figures and commas from the numeric values and convert them to numbers so that we can do math on them later:

In [11]:
countysal['salary'] = countysal['salary'].str.replace('\$', '')

In [12]:
countysal['overtime'] = countysal['overtime'].str.replace('\$', '')
countysal['overtime_rate'] = countysal['overtime_rate'].str.replace('\$', '')
countysal['bonus'] = countysal['bonus'].str.replace('\$', '')
countysal['wellness_day'] = countysal['wellness_day'].str.replace('\$', '')
countysal['cert_bonus'] = countysal['cert_bonus'].str.replace('\$', '')
countysal['contract_bonus'] = countysal['contract_bonus'].str.replace('\$', '')
countysal['health_waiver'] = countysal['health_waiver'].str.replace('\$', '')
countysal['longevity'] = countysal['longevity'].str.replace('\$', '')
countysal['wellness_bonus'] = countysal['wellness_bonus'].str.replace('\$', '')
countysal['weekend_bonus'] = countysal['weekend_bonus'].str.replace('\$', '')
countysal['gross'] = countysal['gross'].str.replace('\$', '')
countysal['total'] = countysal['total'].str.replace('\$', '')

In [13]:
countysal.head()

,name,status,race,sex,dept,job_title,date_started,current_position_start,date_terminated,pay_status,...,bonus,wellness_day,cert_bonus,contract_bonus,health_waiver,longevity,wellness_bonus,weekend_bonus,gross,total
0,Catherine Abalo,Full-time Regular,Black,Female,Kane Regional Centers,Nursing Assistant,4/8/2010,4/3/2016,NaN,Active,...,125.00,0.00,0.00,0.00,0.00,0.00,125.00,0.00,"69,027.34","68,453.92"
1,Joy M Abbott,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Cook,2/14/1999,2/14/1999,NaN,Active,...,125.00,0.00,0.00,0.00,0.00,0.00,125.00,0.00,"48,058.35","47,188.74"
2,Kevin J Abbott,Part Time Regular,White (Not of Hispanic Origin),Male,Emergency Management,Fire Instructor - Part Time,6/11/2018,6/11/2018,NaN,Active,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,241.50,"30,576.00"
3,Ryan Robert Abbott,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,8/21/2017,8/21/2017,NaN,Active,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"44,542.97","49,669.69"
4,Jerome J Abmayr,Full-time Regular,White (Not of Hispanic Origin),Male,Facilities Management,Foreman Building Maintenance,5/10/2010,12/30/2012,NaN,Active,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"46,806.31","42,032.80"

In [14]:
countysal['salary'] = countysal['salary'].str.replace('\,', '').astype(float)
countysal['overtime'] = countysal['overtime'].str.replace('\,', '').astype(float)
countysal['overtime_rate'] = countysal['overtime_rate'].str.replace('\,', '').astype(float)
countysal['bonus'] = countysal['bonus'].str.replace('\,', '').astype(float)
countysal['wellness_day'] = countysal['wellness_day'].str.replace('\,', '').astype(float)
countysal['cert_bonus'] = countysal['cert_bonus'].str.replace('\,', '').astype(float)
countysal['contract_bonus'] = countysal['contract_bonus'].str.replace('\,', '').astype(float)
countysal['health_waiver'] = countysal['health_waiver'].str.replace('\,', '').astype(float)
countysal['longevity'] = countysal['longevity'].str.replace('\,', '').astype(float)
countysal['wellness_bonus'] = countysal['wellness_bonus'].str.replace('\,', '').astype(float)
countysal['weekend_bonus'] = countysal['weekend_bonus'].str.replace('\,', '').astype(float)
countysal['gross'] = countysal['gross'].str.replace('\,', '').astype(float)
countysal['total'] = countysal['total'].str.replace('\,', '').astype(float)

In [15]:
countysal['overtime_hours'] = countysal['overtime_hours'].str.replace('\,', '').astype(float)

In [16]:
countysal.dtypes

name                       object
status                     object
race                       object
sex                        object
dept                       object
job_title                  object
date_started               object
current_position_start     object
date_terminated            object
pay_status                 object
salary                    float64
overtime                  float64
overtime_hours            float64
overtime_rate             float64
bonus                     float64
wellness_day              float64
cert_bonus                float64
contract_bonus            float64
health_waiver             float64
longevity                 float64
wellness_bonus            float64
weekend_bonus             float64
gross                     float64
total                     float64
dtype: object

Here's what everything looks like now that we've made the data a little easier to work with:

In [17]:
countysal.head()

,name,status,race,sex,dept,job_title,date_started,current_position_start,date_terminated,pay_status,...,bonus,wellness_day,cert_bonus,contract_bonus,health_waiver,longevity,wellness_bonus,weekend_bonus,gross,total
0,Catherine Abalo,Full-time Regular,Black,Female,Kane Regional Centers,Nursing Assistant,4/8/2010,4/3/2016,NaN,Active,...,125.0,0.0,0.0,0.0,0.0,0.0,125.0,0.0,69027.34,68453.92
1,Joy M Abbott,Full-time Regular,White (Not of Hispanic Origin),Female,Kane Regional Centers,Cook,2/14/1999,2/14/1999,NaN,Active,...,125.0,0.0,0.0,0.0,0.0,0.0,125.0,0.0,48058.35,47188.74
2,Kevin J Abbott,Part Time Regular,White (Not of Hispanic Origin),Male,Emergency Management,Fire Instructor - Part Time,6/11/2018,6/11/2018,NaN,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,241.50,30576.00
3,Ryan Robert Abbott,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,8/21/2017,8/21/2017,NaN,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44542.97,49669.69
4,Jerome J Abmayr,Full-time Regular,White (Not of Hispanic Origin),Male,Facilities Management,Foreman Building Maintenance,5/10/2010,12/30/2012,NaN,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46806.31,42032.80

Now we can begin running some calculations. First, let's figure out how many people worked for the county in 2018.

In [18]:
countysal.name.count()

6829

How many of those employees worked full-time?

In [19]:
countysal.name[countysal.status == "Full-time Regular"].count()

5333

Now, we want to know how much the county paid all of its employees last year.

In [76]:
countysal.gross.sum().round(2)

321772927.72

And how much of that total was earned by full-time workers?

In [77]:
countysal.gross[countysal.status == "Full-time Regular"].sum().round(2)

298562260.79

Looking at the county's 2018 budget, we know it had budgeted $324,128,913 for employee salaries and wages (not including benefits like healthcare).

In [22]:
county_salary_budget = 324128913

So, was the county over or under budget in terms of employee pay?

In [80]:
(county_salary_budget - (countysal.gross.sum())).round(2)

2355985.28

It looks like the county was under budget by about $2.4 million in terms of employee pay.

Now let's take a look at how much the county spent on employee bonuses and overtime.

In [24]:
countysal.overtime.sum()

30097983.36

In [25]:
countysal.bonus.sum()

1737156.81

Let's also look at how many county employees earned overtime and bonuses last year.

In [26]:
countysal.overtime[countysal.overtime != 0].count()

3570

In [27]:
countysal.bonus[countysal.bonus != 0].count()

3313

Let's also examine how much the county spent on its other pay categories and how many employees earned money in each category, including contract and wellness bonuses. The functions ending with 'sum( )' indicate a dollar amount while the functions ending with 'count( )' indicate a number of employees.

In [28]:
countysal.wellness_day.sum()

245756.24

In [29]:
countysal.wellness_day[countysal.wellness_day != 0].count()

1233

In [30]:
countysal.cert_bonus.sum()

3000.0

In [31]:
countysal.cert_bonus[countysal.cert_bonus != 0].count()

4

In [32]:
countysal.contract_bonus.sum()

62073.5

In [33]:
countysal.contract_bonus[countysal.contract_bonus != 0].count()

149

In [34]:
countysal.health_waiver.sum()

314218.75

In [35]:
countysal.health_waiver[countysal.health_waiver != 0].count()

270

In [81]:
countysal.longevity.sum().round(2)

912183.32

In [37]:
countysal.longevity[countysal.longevity != 0].count()

374

In [38]:
countysal.wellness_bonus.sum()

193375.0

In [39]:
countysal.wellness_bonus[countysal.wellness_bonus != 0].count()

1543

In [40]:
countysal.weekend_bonus.sum()

6550.0

In [41]:
countysal.weekend_bonus[countysal.weekend_bonus != 0].count()

11

Now let's breakdown the salaries, overtime, bonuses and gross pay earned in each county department.

In [84]:
countysal.groupby(["dept"]).salary.sum().reset_index().sort_values("salary", ascending=False).astype(str)

                       dept              salary
14           Human Services  49475561.140000045
16    Kane Regional Centers    46459897.6499999
15                     Jail   41104770.28000009
21                   Police   24256307.98999999
12                   Health   19870118.97999999
20                    Parks  18447817.789999977
10     Emergency Management  17949889.980000056
8         District Attorney  14451652.550000012
25                  Sheriff  14432516.109999973
0   Administrative Services   13694216.81000001
11    Facilities Management  11542180.479999993
23   Public Works Operating  11515730.999999974
22          Public Defender   7093797.909999999
18         Medical Examiner   6600287.169999998
7             Court Records   6028940.299999997
26            Shuman Center   5649734.179999999
2                Controller   5571261.450000002
9      Economic Development          4229345.94
27                Treasurer  3937953.0899999985
6          County Solicitor          3185157.28
5            County Manager          1468013.24
13          Human Resources  1324786.1200000003
1          Budget & Finance           644244.41
17              MBE-DBE-WBE  428148.44999999995
3            County Council           412829.87
4          County Executive           274494.27
24        Retirement System  234173.04999999996
19   Miscellaneous Agencies   78955.76000000001

In [43]:
countysal.groupby(["dept"]).overtime.sum().reset_index().sort_values("overtime", ascending=False).astype(str)

                       dept            overtime
16    Kane Regional Centers   8369410.449999991
15                     Jail   8350905.690000001
10     Emergency Management  3106862.0700000008
21                   Police  2867586.4699999993
14           Human Services  2144320.2600000007
25                  Sheriff  2092816.2499999995
26            Shuman Center           797143.72
23   Public Works Operating   760476.9099999998
11    Facilities Management   563431.8200000001
8         District Attorney           342084.14
20                    Parks   324409.4600000001
18         Medical Examiner  248840.75000000006
12                   Health  101465.90000000001
0   Administrative Services  26878.260000000002
27                Treasurer             1151.21
6          County Solicitor               200.0
1          Budget & Finance                 0.0
13          Human Resources                 0.0
9      Economic Development                 0.0
17              MBE-DBE-WBE                 0.0
7             Court Records                 0.0
19   Miscellaneous Agencies                 0.0
5            County Manager                 0.0
22          Public Defender                 0.0
4          County Executive                 0.0
24        Retirement System                 0.0
3            County Council                 0.0
2                Controller                 0.0

In [44]:
countysal.groupby(["dept"]).bonus.sum().reset_index().sort_values("bonus", ascending=False).astype(str)

                       dept               bonus
25                  Sheriff   583934.4900000006
8         District Attorney           153193.24
14           Human Services   140663.2000000001
22          Public Defender  124873.46999999996
7             Court Records   97649.19999999998
15                     Jail            96844.85
16    Kane Regional Centers             90425.0
12                   Health   79302.68000000004
0   Administrative Services  60151.729999999974
18         Medical Examiner  50181.159999999996
20                    Parks   44596.48000000002
10     Emergency Management  41786.009999999995
11    Facilities Management   34856.05999999999
21                   Police             30522.8
23   Public Works Operating   28593.44999999997
2                Controller  19518.300000000007
9      Economic Development  14887.490000000002
27                Treasurer  12310.019999999999
26            Shuman Center             11300.0
6          County Solicitor             6196.39
5            County Manager   5262.320000000001
13          Human Resources             5003.97
1          Budget & Finance  2965.6600000000003
17              MBE-DBE-WBE   636.1800000000001
3            County Council              538.47
4          County Executive               375.0
19   Miscellaneous Agencies              303.68
24        Retirement System              285.51

In [45]:
countysal.groupby(["dept"]).gross.sum().reset_index().sort_values("gross", ascending=False).astype(str)

                       dept               gross
16    Kane Regional Centers   48032625.23999995
14           Human Services   47950543.22000003
15                     Jail  44370138.930000015
21                   Police  26714729.589999985
10     Emergency Management  18791186.560000006
12                   Health  18059592.220000003
25                  Sheriff  17226574.800000012
8         District Attorney  13568683.859999996
0   Administrative Services  12604425.099999996
23   Public Works Operating  11629895.949999996
11    Facilities Management          10929594.6
20                    Parks    8552285.54999999
18         Medical Examiner   6577811.750000002
22          Public Defender          6478760.93
7             Court Records   5529164.500000005
26            Shuman Center   5511812.239999999
2                Controller   4783420.520000001
9      Economic Development  3649701.1699999995
27                Treasurer   3603190.950000001
6          County Solicitor  2999084.4500000007
5            County Manager  1179083.0799999998
13          Human Resources  1127379.6600000001
1          Budget & Finance           623523.19
17              MBE-DBE-WBE  386901.74999999994
3            County Council           330284.91
4          County Executive           276517.58
24        Retirement System           211366.43
19   Miscellaneous Agencies   74648.98999999999

Below, we create a variable to view the total overtime earned by employees in each county department:

In [46]:
overtime_by_department = countysal.groupby("dept").overtime.sum().reset_index().sort_values("overtime", ascending=False)

In [47]:
overtime_by_department

                       dept    overtime
16    Kane Regional Centers  8369410.45
15                     Jail  8350905.69
10     Emergency Management  3106862.07
21                   Police  2867586.47
14           Human Services  2144320.26
25                  Sheriff  2092816.25
26            Shuman Center   797143.72
23   Public Works Operating   760476.91
11    Facilities Management   563431.82
8         District Attorney   342084.14
20                    Parks   324409.46
18         Medical Examiner   248840.75
12                   Health   101465.90
0   Administrative Services    26878.26
27                Treasurer     1151.21
6          County Solicitor      200.00
1          Budget & Finance        0.00
13          Human Resources        0.00
9      Economic Development        0.00
17              MBE-DBE-WBE        0.00
7             Court Records        0.00
19   Miscellaneous Agencies        0.00
5            County Manager        0.00
22          Public Defender        0.00
4          County Executive        0.00
24        Retirement System        0.00
3            County Council        0.00
2                Controller        0.00

Now let's examine the gender and race breakdown of the county workforce.

In [48]:
countysal.groupby("race").name.count().reset_index().sort_values("name", ascending=False)

                             race  name
5  White (Not of Hispanic Origin)  5519
2                           Black  1190
1       Asian or Pacific Islander    66
3                        Hispanic    37
4               Two or More Races    11
0  American Indian/Alaskan Native     6

In [49]:
countysal.groupby("sex").name.count().reset_index().sort_values("name", ascending=False)

      sex  name
0  Female  3451
1    Male  3378

From these tables we can see that the county workforce is pretty evenly split between men and women, though white people make up a significant majority of the employees. Let's now break this data down further by men and women separately.

In [50]:
countysal.groupby(countysal.race[countysal.sex == "Male"]).sex.count().reset_index().sort_values("sex", ascending=False)

                             race   sex
5  White (Not of Hispanic Origin)  2980
2                           Black   351
1       Asian or Pacific Islander    23
3                        Hispanic    16
0  American Indian/Alaskan Native     4
4               Two or More Races     4

Now let's look at the median salaries for both men and women, broken down by race. The table below shows the median salaires of men of all races.

In [51]:
countysal.groupby(countysal.race[countysal.sex == "Male"]).salary.median().reset_index().sort_values("salary", ascending=False)

                             race     salary
0  American Indian/Alaskan Native  58875.545
5  White (Not of Hispanic Origin)  48747.710
4               Two or More Races  43613.855
1       Asian or Pacific Islander  41379.100
2                           Black  41051.300
3                        Hispanic  39197.180

The table below shows the the median salaires of women of all races.

In [52]:
countysal.groupby(countysal.race[countysal.sex == "Female"]).salary.median().reset_index().sort_values("salary", ascending=False)

                             race    salary
1       Asian or Pacific Islander  43715.15
5  White (Not of Hispanic Origin)  39663.52
2                           Black  38036.75
3                        Hispanic  32574.46
0  American Indian/Alaskan Native  31880.68
4               Two or More Races  29890.85

Now let's make the same tables, but looking at gross pay rather than regular salaries.

In [53]:
countysal.groupby(countysal.race[countysal.sex == "Male"]).gross.median().reset_index().sort_values("gross", ascending=False)

                             race      gross
0  American Indian/Alaskan Native  69892.645
5  White (Not of Hispanic Origin)  51158.765
4               Two or More Races  49056.315
1       Asian or Pacific Islander  46465.100
2                           Black  45589.660
3                        Hispanic  43202.235

In [54]:
countysal.groupby(countysal.race[countysal.sex == "Female"]).gross.median().reset_index().sort_values("gross", ascending=False)

                             race     gross
1       Asian or Pacific Islander  44597.54
5  White (Not of Hispanic Origin)  40921.67
2                           Black  39766.14
3                        Hispanic  30235.79
0  American Indian/Alaskan Native  25783.95
4               Two or More Races   2420.00

Now let's take a closer look at overtime earned by county workers. First we'll look at the total overtime hours worked by employees in each county department.

In [55]:
ot_hours_by_dept = countysal.groupby("dept").overtime_hours.sum().reset_index().sort_values("overtime_hours", ascending=False).astype(str)

In [56]:
ot_hours_by_dept

                       dept      overtime_hours
16    Kane Regional Centers            527008.5
15                     Jail            196345.5
10     Emergency Management           126623.25
14           Human Services            74037.15
21                   Police            50376.25
23   Public Works Operating   47207.63999999999
25                  Sheriff            38201.82
26            Shuman Center  35388.909999999996
11    Facilities Management  28366.190000000002
20                    Parks            15128.17
8         District Attorney              7762.5
18         Medical Examiner   6393.709999999999
12                   Health  3205.1300000000006
0   Administrative Services              1009.0
27                Treasurer                52.0
13          Human Resources                1.25
6          County Solicitor                 1.0
1          Budget & Finance                 0.0
9      Economic Development                 0.0
17              MBE-DBE-WBE                 0.0
7             Court Records                 0.0
19   Miscellaneous Agencies                 0.0
5            County Manager                 0.0
22          Public Defender                 0.0
4          County Executive                 0.0
24        Retirement System                 0.0
3            County Council                 0.0
2                Controller                 0.0

In the table below, we take a look at the average overtime rate earned by workers in each department.

In [57]:
avg_ot_rate_by_dept = countysal.groupby("dept").overtime_rate.mean().reset_index().sort_values("overtime_rate", ascending=False).astype(str)

In [58]:
avg_ot_rate_by_dept

                       dept        overtime_rate
21                   Police    47.62085034013608
25                  Sheriff    40.67285714285716
15                     Jail   30.924403927068703
8         District Attorney   25.150653846153844
10     Emergency Management    21.59242424242425
18         Medical Examiner   21.363018867924524
26            Shuman Center   17.483082706766925
16    Kane Regional Centers   16.730618466898925
11    Facilities Management   16.050171673819737
14           Human Services    14.55460111317253
23   Public Works Operating   12.293855421686745
12                   Health    9.187057356608477
6          County Solicitor   3.4482758620689653
20                    Parks    3.129541284403671
0   Administrative Services   2.0982698961937714
27                Treasurer  0.24876404494382023
1          Budget & Finance                  0.0
13          Human Resources                  0.0
17              MBE-DBE-WBE                  0.0
9      Economic Development                  0.0
19   Miscellaneous Agencies                  0.0
7             Court Records                  0.0
5            County Manager                  0.0
22          Public Defender                  0.0
4          County Executive                  0.0
24        Retirement System                  0.0
3            County Council                  0.0
2                Controller                  0.0

In the table below we can see the total overtime worked by people in each position, listed from greatest to least.

In [59]:
ot_by_job = countysal.groupby("job_title").overtime.sum().reset_index().sort_values("overtime", ascending=False).astype(str)

In [60]:
ot_by_job

                          job_title            overtime
298            Correctional Officer   7674006.690000004
880       Telecommunication Officer          2868516.46
635               Nursing Assistant  2493216.5799999987
689                  Police Officer  2293547.5800000005
357                  Deputy Sheriff  1748313.6199999999
194     Caseworker - Cyf (Lng Step)  1354832.8499999987
457             Food Service Worker  1266204.2499999998
553        Licensed Practical Nurse  1151704.2499999998
759                Registered Nurse   774764.3300000002
230                Childcare Worker   619507.1399999999
555                      Lieutenant           611800.11
771    Rn Resident Care Coordinator           554769.58
26                   Acting Foreman   534128.3200000002
481                     Housekeeper  373738.26000000007
390                          Driver  372327.11000000004
25                 Acting Compactor           364537.66
456         Food Service Supervisor           323722.29
172                  Building Guard  322261.14999999985
199           Caseworker Supervisor   274501.2700000001
283                            Cook  271849.18000000005
228              Child Welfare Aide           258339.01
241                  Clerk Typist 1           208979.87
618        Mental Health Specialist           174263.56
774                       Scientist  165320.37000000005
146                      Attorney 3           163952.86
401                     Electrician           136923.15
422          Equipment Operator C1A  135204.52000000002
803                 Shift Commander           122264.22
27      Acting Housekeeping Foreman            108282.5
494     Identification Technician 1  101032.56999999999
..                              ...                 ...
372      Director Of Administration                 0.0
373           Director Of Education                 0.0
374       Director Of Mental Health                 0.0
376      Director S Action Line Mgr                 0.0
349      Deputy Director Recreation                 0.0
348    Deputy Director Pretrial Div                 0.0
347  Deputy Director Post Trial Div                 0.0
346   Deputy Director Of Operations                 0.0
324  Dep Dir Child Youth/Family Srv                 0.0
325    Dep Dir Environmental Health                 0.0
326  Dep Dir Maintenance Operations                 0.0
327   Dep Dir Off Behavioral Health                 0.0
328   Dep Dir Office Communty Relat                 0.0
329         Dep Dir Office Of Admin                 0.0
330   Dep Dir Pub Policy & Comm Rel                 0.0
331    Dep Dir, Off Mr/Dvlp Disabil                 0.0
332   Dep Director Facilities Maint                 0.0
333   Dep Director Operations/Admin                 0.0
335  Dep Treas\Finance & Accounting                 0.0
336  Deputy Chief Informatn Officer                 0.0
337    Deputy Chief Purchas Officer                 0.0
338               Deputy Controller                 0.0
339           Deputy County Manager                 0.0
340    Deputy Dir Juvenile Division                 0.0
341                 Deputy Director                 0.0
342      Deputy Director - Fire/Ems                 0.0
343  Deputy Director Administration                 0.0
344        Deputy Director Chp & Dp                 0.0
345    Deputy Director Fiscal/Admin                 0.0
923                      Writ Clerk                 0.0

[924 rows x 2 columns]

In the table below, we can see the average overtime hours worked by people in each position, listed from greatest to least.

In [61]:
countysal.groupby("job_title").overtime_hours.mean().reset_index().sort_values("overtime_hours", ascending=False).astype(str)

                          job_title      overtime_hours
27      Acting Housekeeping Foreman           1719.8125
157         Bas Tech/Stat Eng Rover             1089.64
481                     Housekeeper             896.675
334    Dep Fire Marshal/K-9 Handler               865.0
473                       Head Cook             830.375
457             Food Service Worker   736.5140186915888
618        Mental Health Specialist              730.25
602                Material Handler               667.6
553        Licensed Practical Nurse   630.8831775700935
163         Bldg Automated Sys Tech              629.32
635               Nursing Assistant   601.7292263610315
468         Graduate Practice Nurse               599.5
456         Food Service Supervisor    597.574074074074
610          Medical Record Trans 1              596.25
422          Equipment Operator C1A   567.1447368421053
537    Lead Bldg Automated Sys Tech             545.315
166            Bombadeer Operations               514.0
405          Emergency 911 Cad Tech               501.0
539                   Lead Engineer            481.0325
759                Registered Nurse  450.63380281690144
283                            Cook           445.65625
880       Telecommunication Officer   429.9425182481752
685              Plumber Supervisor              415.01
390                          Driver   410.7923333333334
298            Correctional Officer  400.72222222222223
230                Childcare Worker   376.7877027027027
25                 Acting Compactor  339.83870967741933
392                     Driver Supv              321.83
771    Rn Resident Care Coordinator               316.5
918                   Warrant Clerk              311.75
..                              ...                 ...
371     Director Community Outreach                 0.0
372      Director Of Administration                 0.0
373           Director Of Education                 0.0
374       Director Of Mental Health                 0.0
348    Deputy Director Pretrial Div                 0.0
347  Deputy Director Post Trial Div                 0.0
346   Deputy Director Of Operations                 0.0
345    Deputy Director Fiscal/Admin                 0.0
323                Dental Hygienist                 0.0
324  Dep Dir Child Youth/Family Srv                 0.0
325    Dep Dir Environmental Health                 0.0
326  Dep Dir Maintenance Operations                 0.0
327   Dep Dir Off Behavioral Health                 0.0
328   Dep Dir Office Communty Relat                 0.0
329         Dep Dir Office Of Admin                 0.0
330   Dep Dir Pub Policy & Comm Rel                 0.0
331    Dep Dir, Off Mr/Dvlp Disabil                 0.0
332   Dep Director Facilities Maint                 0.0
333   Dep Director Operations/Admin                 0.0
335  Dep Treas\Finance & Accounting                 0.0
336  Deputy Chief Informatn Officer                 0.0
337    Deputy Chief Purchas Officer                 0.0
338               Deputy Controller                 0.0
339           Deputy County Manager                 0.0
340    Deputy Dir Juvenile Division                 0.0
341                 Deputy Director                 0.0
342      Deputy Director - Fire/Ems                 0.0
343  Deputy Director Administration                 0.0
344        Deputy Director Chp & Dp                 0.0
923                      Writ Clerk                 0.0

[924 rows x 2 columns]

The table below shows all county departments and how much overtime was worked collectively in each.

In [62]:
countysal.groupby(["dept"]).overtime_hours.sum()

dept
Administrative Services      1009.00
Budget & Finance                0.00
Controller                      0.00
County Council                  0.00
County Executive                0.00
County Manager                  0.00
County Solicitor                1.00
Court Records                   0.00
District Attorney            7762.50
Economic Development            0.00
Emergency Management       126623.25
Facilities Management       28366.19
Health                       3205.13
Human Resources                 1.25
Human Services              74037.15
Jail                       196345.50
Kane Regional Centers      527008.50
MBE-DBE-WBE                     0.00
Medical Examiner             6393.71
Miscellaneous Agencies          0.00
Parks                       15128.17
Police                      50376.25
Public Defender                 0.00
Public Works Operating      47207.64
Retirement System               0.00
Sheriff                     38201.82
Shuman Center               35388.91
Treasurer                      52.00
Name: overtime_hours, dtype: float64

This next table shows which departments paid their workers the most overtime and also how many overtime hours those employees worked.

In [63]:
overtime_table = pd.pivot_table(countysal,index=["dept"],values=["overtime", "overtime_hours"],aggfunc=np.sum).sort_values("overtime", ascending=False).astype(str).round(2)

In [64]:
overtime_table

                                   overtime      overtime_hours
dept
Kane Regional Centers     8369410.449999991            527008.5
Jail                      8350905.690000001            196345.5
Emergency Management     3106862.0700000008           126623.25
Police                   2867586.4699999993            50376.25
Human Services           2144320.2600000007            74037.15
Sheriff                  2092816.2499999995            38201.82
Shuman Center                     797143.72  35388.909999999996
Public Works Operating    760476.9099999998   47207.63999999999
Facilities Management     563431.8200000001  28366.190000000002
District Attorney                 342084.14              7762.5
Parks                     324409.4600000001            15128.17
Medical Examiner         248840.75000000006   6393.709999999999
Health                   101465.90000000001  3205.1300000000006
Administrative Services  26878.260000000002              1009.0
Treasurer                           1151.21                52.0
County Solicitor                      200.0                 1.0
Budget & Finance                        0.0                 0.0
Human Resources                         0.0                1.25
Economic Development                    0.0                 0.0
MBE-DBE-WBE                             0.0                 0.0
Court Records                           0.0                 0.0
Miscellaneous Agencies                  0.0                 0.0
County Manager                          0.0                 0.0
Public Defender                         0.0                 0.0
County Executive                        0.0                 0.0
Retirement System                       0.0                 0.0
County Council                          0.0                 0.0
Controller                              0.0                 0.0

Grouping county employees into salary brackets can give a sense of how pay is distributed among the entire workforce. As the table below shows, 45 percent of county workers earned less than $40,000 in 2018.

In [65]:
salary = countysal.salary

In [66]:
salary[salary > 200000].count()

2

In [67]:
salary[salary > 100000][salary < 200000].count()

118

In [68]:
salary[salary > 80000][salary < 100000].count()

517

In [69]:
salary[salary > 60000][salary < 80000].count()

895

In [70]:
salary[salary > 40000][salary < 60000].count()

2214

In [71]:
salary[salary > 20000][salary < 40000].count()

2864

In [72]:
salary[salary < 20000].count()

219

Below is another pivot table looking at which county positions pay the least.

In [73]:
avg_salary_by_job = pd.pivot_table(countysal,index=["job_title"],values=["salary"],aggfunc=np.mean).sort_values("salary", ascending=True).astype(str)

In [74]:
avg_salary_by_job

                                            salary
job_title
Legal Intern                               10023.0
Pt Clerk                                   11440.0
Pt Housekeeper                             13104.0
Pt Food Service Worker                     13104.0
Summer Laborer                             15912.0
Part Time Chaplain                         17836.0
Medical Records Clerk - Pt                 19606.5
Pharmacy Technician - Pt                  19885.76
Intern                          20330.322580645163
Summer Aide                                20800.0
Treasurer Clerk                            20800.0
Retirement Clerk - Pt                      20800.0
Part Time Child Care Worker                21060.0
Pt Telecommunication Officer               21060.0
Intern - Seasonal                          22464.0
Medical Assistant - Pt                   22712.306
Seasonal Clerk                             22880.0
Student Intern                  23015.064935064936
Seasonal Aide                   23901.331288343557
Ranger - Part Time                         24960.0
Redacted                        25313.809999999998
Ranger - Seasonal                          25344.0
Transport Utility Worker                 26440.335
Discharge Planner - Pt                    27019.87
Licensed Practical Nurse - Pt   27260.493333333336
Pt Correctional Officer          27544.75999999999
Psychiatric Aide                28752.533333333336
Per Diem Nursing Assistant                 29120.0
Drug/Alcohol Counselor                     29276.0
Medical Records Clerk                    29416.192
...                                            ...
Assistant Deputy Audit                   107830.94
Assistant Chief Detective                107882.74
Dep Dir Child Youth/Family Srv           108563.73
Deputy Director, D.A.R.E.                108961.11
Dep Treas\Finance & Accounting           109307.74
Public Health Lab Director               110949.28
Director Communications                  111295.39
Chief Emerg Srvc Fire Marshall           111295.81
Warden                                   111296.22
Commander                                111316.19
Senior Deputy Director                   111426.85
Executive Deputy Director                112941.71
Deputy County Manager                    113520.78
First Asst Da/Chief Of Staff             114460.11
Superintendent Of Police                 114972.62
Dep Dir Office Of Admin                  115000.08
Chief Detective                           120834.9
Deputy Controller                         120949.3
Chief Deputy                             122447.94
Assistant Superintendent                 122494.63
County Solicitor                         124450.98
Director                        128464.97500000002
Inspector                       135492.03500000003
County Manager                           157524.22
Medical Epidemiologist                   163160.82
Director Of Education                    165187.98
Deputy Medical Examiner                  169016.85
Associate Medical Examiner               175197.57
District Attorney                        179298.91
Chief Medical Examiner                   203985.39

[924 rows x 1 columns]

Now let's look at the top 25 earners in the county workforce, based on gross pay.

In [75]:
countysal.sort_values("gross", ascending=False)[:25]

,name,status,race,sex,dept,job_title,date_started,current_position_start,date_terminated,pay_status,...,bonus,wellness_day,cert_bonus,contract_bonus,health_waiver,longevity,wellness_bonus,weekend_bonus,gross,total
2336,Karen A Hacker,Full-time Regular,White (Not of Hispanic Origin),Female,Health,Director,9/3/2013,9/3/2013,NaN,Active,...,853.04,853.04,0.0,0.0,0.0,0.00,0.0,0.0,223531.36,223496.06
4242,Richard L Mullen,Terminated,White (Not of Hispanic Origin),Male,Police,Lieutenant,9/1/1992,5/13/2018,12/21/2018,Terminated,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,219531.53,142190.75
6550,Karl E. Williams,Full-time Regular,White (Not of Hispanic Origin),Male,Medical Examiner,Chief Medical Examiner,1/2/2007,1/2/2007,NaN,Active,...,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,210701.14,203985.39
3175,Jeffrey W Korczyk,Terminated,White (Not of Hispanic Origin),Male,Police,Lieutenant,2/13/1989,2/13/2015,12/7/2018,Terminated,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,196279.40,138864.41
4470,Leo E Olshinsky,Terminated,White (Not of Hispanic Origin),Male,Police,Lieutenant,3/9/1981,3/9/1981,12/20/2018,Terminated,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,182261.49,114015.84
952,Marc K Cherna,Full-time Regular,White (Not of Hispanic Origin),Male,Human Services,Director,2/26/1996,2/26/1996,NaN,Active,...,1250.00,0.00,0.0,0.0,1250.0,0.00,0.0,0.0,181011.10,177909.94
6757,Stephen A Zappala Jr,Elected Officials,White (Not of Hispanic Origin),Male,District Attorney,District Attorney,7/20/1989,1/1/2008,NaN,Active,...,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,179271.36,179298.91
6690,Baiyang Xu,Full-time Regular,Asian or Pacific Islander,Male,Medical Examiner,Associate Medical Examiner,11/3/2008,1/1/2018,NaN,Active,...,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,178480.75,175197.57
3573,Todd M. Luckasevic Do,Full-time Regular,White (Not of Hispanic Origin),Male,Medical Examiner,Associate Medical Examiner,4/2/2007,1/1/2018,NaN,Active,...,673.84,673.84,0.0,0.0,0.0,0.00,0.0,0.0,175100.23,176545.25
6534,Jerald Will,Terminated,White (Not of Hispanic Origin),Male,Police,Lieutenant,3/16/1995,1/7/2018,12/22/2018,Terminated,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,173533.57,110891.39
5483,Abdulrezak M. Shakir,Full-time Regular,Black,Male,Medical Examiner,Deputy Medical Examiner,7/1/1988,7/1/1988,NaN,Active,...,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,171109.00,169016.85
1718,Willis A Ennis,Full-time Regular,White (Not of Hispanic Origin),Male,Medical Examiner,Director Of Education,6/29/2015,6/29/2015,NaN,Active,...,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,167598.66,165187.98
806,Leo M Campbell,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,4/29/1999,4/29/1999,NaN,Active,...,4809.26,0.00,0.0,0.0,0.0,4684.26,125.0,0.0,164153.52,161513.48
4018,Kristen J Mertz,Full-time Regular,White (Not of Hispanic Origin),Female,Health,Medical Epidemiologist,7/7/2014,7/1/2018,NaN,Active,...,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,164021.51,163160.82
5722,Curtis A Sowder,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Lieutenant,10/23/2017,10/23/2017,NaN,Active,...,2699.13,0.00,0.0,0.0,0.0,2574.13,125.0,0.0,163823.21,131488.60
5246,Lawrence E Sachs,Terminated,White (Not of Hispanic Origin),Male,District Attorney,Attorney 2,1/14/1985,1/14/1985,11/24/2018,Terminated,...,4677.47,0.00,0.0,0.0,0.0,4677.47,0.0,0.0,159121.44,123535.77
3929,William D Mckain,Full-time Regular,White (Not of Hispanic Origin),Male,County Manager,County Manager,8/1/2012,8/1/2012,NaN,Active,...,1250.00,0.00,0.0,0.0,1250.0,0.00,0.0,0.0,158799.32,160024.22
3625,David W Macmaster,Full-time Regular,White (Not of Hispanic Origin),Male,Jail,Correctional Officer,11/17/1994,11/17/1994,NaN,Active,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,156741.69,157728.87
5402,Andrew G Schurman,Full-time Regular,White (Not of Hispanic Origin),Male,Police,Lieutenant,6/1/1993,8/9/2010,NaN,Active,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,155522.58,148459.31
1322,Ronald D Daurora,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,1/18/1999,1/18/1999,NaN,Active,...,4684.26,0.00,0.0,0.0,0.0,4684.26,0.0,0.0,154279.15,151918.98
3076,Robert J Kerr,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,8/29/1983,2/14/2010,NaN,Active,...,7368.40,0.00,0.0,0.0,0.0,7243.40,125.0,0.0,153901.25,154414.89
6789,Glenn B Zilch,Terminated,White (Not of Hispanic Origin),Male,Police,Inspector,8/20/1984,8/20/1984,12/21/2018,Terminated,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,153646.04,136055.70
5522,Minkyong Shin,Full-time Regular,Asian or Pacific Islander,Female,Kane Regional Centers,Registered Nurse,11/14/2016,11/14/2016,NaN,Active,...,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,150856.43,147650.75
430,Robert A Beveridge,Full-time Regular,White (Not of Hispanic Origin),Male,Jail,Correctional Officer,3/28/2000,3/28/2000,NaN,Active,...,125.00,0.00,0.0,0.0,0.0,0.00,125.0,0.0,150227.41,151096.37
1635,Richard M Dwyer Iii,Full-time Regular,White (Not of Hispanic Origin),Male,Sheriff,Deputy Sheriff,11/12/1991,11/12/1991,NaN,Active,...,6580.77,0.00,0.0,0.0,0.0,6580.77,0.0,0.0,150001.60,149248.20